# ***Topic:List***

Q1. Create a list of 5 random numbers and print the list

In [ ]:
Number = [24,45,56,78,56]
print(Number)

[24, 45, 56, 78, 56]

Q2. Insert 3 new values to the list and print the updated list.

In [ ]:
Number.append(48)
Number.insert(0,59)
Number.append(60)

print("Updated list:", Number)

Updated list: [59, 24, 45, 56, 78, 56, 4, 5, 6, 48, 59, 60, 48, 59, 48, 59, 48, 59, 60, 1, 2, 3, 4, 5, 48, 60]

In [ ]:
Number= Number+[1,2,3,4,5]
print(Number)

[24, 45, 56, 78, 56, 4, 5, 6, 48, 59, 60, 48, 59, 48, 59, 48, 59, 60, 1, 2, 3, 4, 5]

 Q3.Try to use a for loop to print each element in the list

In [ ]:
for element in Number:
    print(element)

59
24
45
56
78
56
4
5
6
48
59
60
48
59
48
59
48
59
60
1
2
3
4
5
48
60

# ***Topic:Dictionary***

Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [ ]:
Student = {"name": "John",
    "age": 25,
    "address": "New York"}

print(Student)

{'name': 'John', 'age': 25, 'address': 'New York'}

Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [ ]:
Student['phone']='1234567890'
print("Updated dictionary:", Student)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

# ***Topic:Set***

Q1.Create a set with values 1, 2, 3, 4, and 5

In [ ]:
Items_number = {1,2,3,4,5}
print(Items_number)

{1, 2, 3, 4, 5}

Q2. Add the value 6 to the set created in Q1

In [ ]:
Items_number = {1,2,3,4,5}
Items_number.add(6)
print(Items_number)

{1, 2, 3, 4, 5, 6}

Q3. Remove the value 3 from the set created in Q1

In [ ]:
Items_number = {1,2,3,4,5}
Items_number.remove(3)
print(Items_number)

{1, 2, 4, 5}

# ***Topic:Tuple***

Q1. Create a tuple with values 1, 2, 3, and 4

In [ ]:
Roll_Number = (1, 2, 3, 4)
print(Roll_Number)

(1, 2, 3, 4)

Q2. Print the length of the tuple created in Q1

In [ ]:
Roll_Number = (1, 2, 3, 4)
print(len(Roll_Number))

4